.main {
	background-color: #EFEEEF;
}

.content {
	transition: 0.3s;
	box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, .10);
	background-color: white;
	padding: 20px;
	margin-bottom: 20px;
}

.content:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.messageBox {
	padding: 0px !important;
}

.messageFrom {
	border-style: solid;
	border-width: 1px;
	text-align: center;
	font-weight: bold;
	padding: 10px;
	margin-right: -10px;
}

.message {
	border-style: solid;
	border-width: 1px;
	padding: 10px;
	margin-left: -10px;
}

.dateStamp {
	font-size: 2px;
}

.form-control {
	width: 100% !important;
}

.send {
	height: 75px;
	font-weight: bold;
	font-size: 20px;
	width: 100% !important;
}
